---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Chartbib from '../components/Chartbib.astro'
import Selection from '../components/Selection.astro'
import Leapcentres from '../components/Leapcentres.svelte'

---
<Layout>

   <div id="siteLoader" class="site-loader">
      <div class="preloader-content">
         <img src="assets/images/loader1.gif" alt="">
      </div>
   </div>
   <div id="page" class="full-page">
   
      <main id="content" class="site-main">
         <!-- Home slider html start -->
         <section class="home-slider-section">
            <div class="home-slider">
               <div class="home-banner-items">
                  <div class="banner-inner-wrap bg-cover bg-center" style="background-image: url(/img/bg1.png);"></div>
                  <div class=" absolute h-full w-full bg-black opacity-20"></div>
                     <div class="banner-content-wrap">
                        <div class="container">
                           <div class="banner-content text-center">
                              <h2 class="banner-title md:text-6xl text-xl">Launch Empower Accelerate Prosper</h2>
                              <!-- <h4 class="text-3xl md:text-5xl font-bold text-white">Launch Empower Accelerate Prosper</h4> -->
                              <!-- <p class=" text-lg">The LEAP coworking space aims to create an environment that nurtures innovation, encourages networking, and facilitates the success of startups and entrepreneurs. Kerala Startup Mission (KSUM) has been at the forefront of supporting startups and entrepreneurs in Kerala through its incubation centers. We are transforming our incubation centers, partner incubation centers, and IEDC owned incubation centers into a vibrant coworking space called LEAP Coworks. LEAP, which stands for Launch Empower Accelerate Prosper, embodies our commitment to fostering innovation, collaboration, and success in the startup ecosystem.</p> -->
                              <!-- <a href="#" class="button-primary">CONTINUE READING</a> -->
                           </div>
                        </div>
                     </div>
                  <div class="overlay"></div>
               </div>
             
            </div>
         </section>
        

         <div class="trip-search-section shape-search-section">
            <div class="slider-shape"></div>
            <div class="container">
               <div class="trip-search-inner white-bg d-flex">
                  <p class=" text-justify text-base">
                     The LEAP coworking space aims to create an environment that nurtures innovation, encourages networking, and facilitates the success of startups and entrepreneurs. Kerala Startup Mission (KSUM) has been at the forefront of supporting startups and entrepreneurs in Kerala through its incubation centers. We are transforming our incubation centers, partner incubation centers, and IEDC owned incubation centers into a vibrant coworking space called LEAP Coworks. LEAP, which stands for Launch Empower Accelerate Prosper, embodies our commitment to fostering innovation, collaboration, and success in the startup ecosystem.
                  </p>
                  <p class=" text-justify pt-6 text-base">
                     LEAP will offer well designed workspace, meeting rooms, high speed internet connectivity and other essential amenities  for a productive environment. While transitioning to a coworking model KSUM will continue to provide valuable incubation support service  to startups, Including mentorship programs, business development assistance, access to funding opportunities  and expert guidance. LEAP will foster a vibrant community of like-minded individuals and startups, creating opportunities for collaboration, knowledge sharing and networking. LEAP will become a single access point for entrepreneurs to enter the startup ecosystem.
                  </p>
               </div>
            </div>
         </div>
      

         <section class="package-section py-24">
            <div class="container">
               <div class="section-heading">
                  <div class="row align-items-end">
                     <div class="col-lg-6">
                        <h5 class="dash-style">WORKSPACES REIMAGINED</h5>
                        <h2>Explore LEAP Coworks</h2>
                     </div>
                     <div class="col-lg-5">
                        <div class="section-disc text-base text-justify">
                           Experience plug-and-play workstations, meeting rooms, and discussion spaces, all powered by high-speed internet and modern facilities.                        </div>
                     </div>
                  </div>
               </div>
               <div class="career-detail-section pb-24">
                  <div class="career-detail-inner">
                     <div class="container">
                        <div class="">
                           <div class="">
                              <div class="">
                                 <figure class="">
                                    <img src="/img/img.png" class=" h-60 w-2/3" alt="">
                                 </figure>
                              </div>
                              <div class="tab-container">
                                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                       <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Apply for Coworking</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">LEAP Centre Rate card</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                       <a class="nav-link" id="requirement-tab" data-toggle="tab" href="#requirement" role="tab" aria-controls="requirement" aria-selected="false">Requirement</a>
                                    </li> -->
                                 </ul>
                                 <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                       <div class="overview-content">
                                          <p class="text-base  font-semibold">Eligibility Criteria for KSUM Owned centres:</p>
                                          <div class="pl-10 pt-6">
                                             <ul class=" list-disc list-outside ">
                                                <li class="font-semibold text-justify">Startups with a valid KSUM Unique ID </li>
                                                <li class=" text-justify font-semibold">Subsidized prices are exclusively applicable to startups who possess a KSUM Unique ID.</li>
                                                <li class=" text-justify font-semibold">
                                                   Startups registered as Private Limited (Pvt) / Limited Liability Partnership (LLP)/ One Person Company (OPC) are eligible to apply for LEAP Coworking spaces even if they do not have a KSUM Unique ID. However, such entities will not be eligible for subsidized prices.
                                                </li>
                                             </ul>
                                          </div>
                                          <div class="btn-wrap">
                                             <a href="https://startups.startupmission.in/application/incubation" target="_blank" class="button-primary uppercase">Apply Now</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="tab-pane" id="experience" role="tabpanel" aria-labelledby="experience-tab">
                                       <div class="experience-content">
                                             <div class="">
                                                <div>
                                                      <div class="overflow-x-auto">
                                                         <table class="w-full border-collapse border border-gray-300 text-black">
                                                            <thead>
                                                              <tr class="bg-gray-100 text-black text-left">
                                                                <th class="border border-gray-300 text-black px-3 py-2">Centers</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">Type of Space</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">Base Rate</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">Subsidy</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">After Subsidy</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2" rowspan="3">Trivandrum<br>Kochi<br>Kozhikode</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2">Square feet wise</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.100 Per sq.feet</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs. 60 Per sq.feet</td>
                                                              </tr>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2">Coworking space</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs 5500/- Per seat</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.3300/-</td>
                                                              </tr>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2">Dedicated Seats at closed space</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs 6000/- Per seat</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.3600/-</td>
                                                              </tr>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2">Palakkad, Kasaragod</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2">Coworking space</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs 3000/- Per seat</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.1800/-</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          
                                                      </div>
                                                </div>
                                                <div>
                                                   <p class=" font-bold">Please note the following.</p>
                                                   <div class=" pl-10 pt-3">
                                                      <ul class=" list-disc list-outside">
                                                         <li class=" font-semibold">Subsidy will be applicable to startups having unique id (KSUM).
                                                         </li>
                                                         <li class=" font-semibold">
                                                            Women startups will get an additional subsidy of 10%.
                                                         </li>
                                                         <li class=" font-semibold">
                                                            The subsidy will be reduced 5% every year on renewal of agreement.
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                                <div class="btn-wrap">
                                                   <a href="https://startups.startupmission.in/application/incubation" target="_blank" class="button-primary uppercase">Apply Now</a>
                                                </div>
                                             </div>
                                       </div>
                                    </div>
                                  
                                 </div>
                              </div>
                           </div>
                          
                        </div>
                        <div class="section-heading pt-10 pb-0 mb-0">
                           <h5 class="dash-style uppercase">Selection process</h5>
                        </div>
                        <Selection></Selection>
                     </div>
                  </div>
                 
               </div>
            </div>
         </section>





         <div class="single-tour-section pt-32 pb-2">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="single-tour-inner">
                        <div class="section-heading">
                           <h5 class="dash-style">Unlock Opportunities with LEAP Membership</h5>
                           <h2>Get LEAP Membership card?</h2>
                        </div>
                        <div class="tab-container">
                           <ul class="nav nav-tabs" id="myTab" role="tablist">
                             
                              <li class="nav-item">
                                 <a class="nav-link active" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="true" >Facilities and amenities
                                 </a>
                              </li>
                            
                           </ul>
                           <div class="tab-content" id="myTabContent">
                             
                              <div class="tab-pane fade show active" id="program" role="tabpanel" aria-labelledby="program-tab">
                                
                                 <div class="">
                                    <p class="text-base pb-4 font-semibold">
                                       LEAP membership is open to startups with a KSUM unique ID, as well as entrepreneurs and professionals looking to connect and collaborate with Kerala Startup Mission.
                                    </p>
                                    <ul class="list-disc list-outside pl-6 font-semibold">
                                       <li>
                                          Subsidized access to all LEAP center facilities
                                       </li>
                                       <li>
                                          Access to KSUM's partner incubation centers across the State
                                       </li>
                                       <li>
                                          Will get access to book Flexi Workstations
                                       </li>
                                       <li>
                                          Additional subsidies for KSUM partnering events
                                       </li>
                                       <li>
                                          Talent acquisition support
                                       </li>
                                       <li>
                                          Uninterrupted internet and electricity
                                       </li>
                                       <li>
                                          Internship drives and tech training
                                       </li>
                                       <li>
                                          5 days access to flexi seats free of cost at any facility every month
                                       </li>
                                       <li>
                                          One year validity for a membership card
                                       </li>
                                       <li>
                                          Access to Leap Centers across the country
                                       </li>
                                       <li>
                                          Access to Startup Infinity Centers across the world
                                       </li>
                                    </ul>
                                    <div class="btn-wrap">
                                       <a href="https://leap-portal.startupmission.in/login" target="_blank" class="button-primary">Apply Now</a>
                                    </div>
                                 </div>
                              </div>
                              <!-- <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">
                                 <div class="summary-review">
                                    <div class="review-score">
                                       <span>4.9</span>
                                    </div>
                                    <div class="review-score-content">
                                       <h3>
                                          Excellent
                                          <span>( Based on 24 reviews )</span>
                                       </h3>
                                       <p>Tincidunt iaculis pede mus lobortis hendrerit eveniet impedit aenean mauris qui, pharetra rem doloremque laboris euismod deserunt non, cupiditate, vestibulum.</p>
                                    </div>
                                 </div>
                                 <div class="comment-area">
                                    <h3 class="comment-title">3 Reviews</h3>
                                    <div class="comment-area-inner">
                                       <ol>
                                          <li>
                                             <figure class="comment-thumb">
                                                <img src="assets/images/img20.jpg" alt="">
                                             </figure>
                                             <div class="comment-content">
                                                <div class="comment-header">
                                                   <h5 class="author-name">Tom Sawyer</h5>
                                                   <span class="post-on">Jana 10 2020</span>
                                                   <div class="rating-wrap">
                                                      <div class="rating-start" title="Rated 5 out of 5">
                                                         <span style="width: 90%;"></span>
                                                      </div>
                                                   </div>
                                                </div>
                                                <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                             </div>
                                          </li>
                                          <li>
                                             <ol>
                                                <li>
                                                   <figure class="comment-thumb">
                                                      <img src="assets/images/img21.jpg" alt="">
                                                   </figure>
                                                   <div class="comment-content">
                                                      <div class="comment-header">
                                                         <h5 class="author-name">John Doe</h5>
                                                         <span class="post-on">Jana 10 2020</span>
                                                         <div class="rating-wrap">
                                                            <div class="rating-start" title="Rated 5 out of 5">
                                                               <span style="width: 90%"></span>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                      <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                                   </div>
                                                </li>
                                             </ol>
                                          </li>
                                       </ol>
                                       <ol>
                                          <li>
                                             <figure class="comment-thumb">
                                                <img src="assets/images/img22.jpg" alt="">
                                             </figure>
                                             <div class="comment-content">
                                                <div class="comment-header">
                                                   <h5 class="author-name">Jaan Smith</h5>
                                                   <span class="post-on">Jana 10 2020</span>
                                                   <div class="rating-wrap">
                                                      <div class="rating-start" title="Rated 5 out of 5">
                                                         <span></span>
                                                      </div>
                                                   </div>
                                                </div>
                                                <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                             </div>
                                          </li>
                                       </ol>
                                    </div>
                                    <div class="comment-form-wrap">
                                       <h3 class="comment-title">Leave a Review</h3>
                                       <form class="comment-form">
                                          <div class="full-width rate-wrap">
                                             <label>Your rating</label>
                                             <div class="procduct-rate">
                                                <span></span>
                                             </div>
                                          </div>
                                          <p>
                                             <input type="text" name="name" placeholder="Name">
                                          </p>
                                          <p>
                                             <input type="text" name="name" placeholder="Last name">
                                          </p>
                                          <p>
                                             <input type="email" name="email" placeholder="Email">
                                          </p>
                                          <p>
                                             <input type="text" name="subject" placeholder="Subject">
                                          </p>
                                          <p>
                                             <textarea rows="6" placeholder="Your review"></textarea>
                                          </p>
                                          <p>
                                             <input type="submit" name="submit" value="Submit">
                                          </p>
                                       </form>
                                    </div>
                                 </div>
                              </div> -->
                              <!-- <div class="tab-pane" id="map" role="tabpanel" aria-labelledby="map-tab">
                                 <div class="map-area">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60998820.06503915!2d95.3386452160086!3d-21.069765827214972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2snp!4v1579777829477!5m2!1sen!2snp" height="450" allowfullscreen=""></iframe>
                                 </div>
                              </div> -->
                           </div>
                        </div>
                        <div class="single-tour-gallery">
                           <!-- <h3>GALLERY / PHOTOS</h3> -->
                           <div class="single-tour-slider">
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/1.png" alt="">
                                 </figure>
                              </div>
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/2.png" alt="">
                                 </figure>
                              </div>
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/3.png" alt="">
                                 </figure>
                              </div>
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/4.png" alt="">
                                 </figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="sidebar">
                        <div class="travel-package-content text-center py-24" style="background-image: url(/img/55.png);">
                           <h5 class="pt-10"></h5>
                           <h3 class="text-justify"></h3>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus.</p>
                           <ul>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Vacation packages</a>
                              </li>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Honeymoon packages</a>
                              </li>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>New year packages</a>
                              </li>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Weekend packages</a>
                              </li>
                           </ul> -->
                        </div>
                        <div class="package-price">
                           <h5 class="price text-base">
                              LEAP will offer well designed workspace, meeting rooms, high speed internet connectivity and other essential amenities  for a productive environment. Through LEAP membership KSUM aims to foster a vibrant community of like-minded individuals and startups, creating opportunities for collaboration, knowledge sharing and networking. LEAP will become a single access point for entrepreneurs to enter the startup ecosystem.
                           </h5>
                          
                        </div>
                       
                        <div class="widget-bg information-content">
                           <h5>Eligibility Criteria</h5>
                           <ul class=" list-disc list-outside pb-4">
                              <li>
                                 Startups having KSUM unique id.
                              </li>
                              <li>
                                 Startups, entrepreneurs, and professionals looking to connect and collaborate with Kerala Startup Mission.
                              </li>
                           </ul>
                         
                           <p class="text-base text-start pb-3 font-semibold">
                              Required Documents for applicants other than Startups having KSUM unique id    
                           </p>
                           <ul class=" list-disc list-outside">
                              <li>Proof of identity (e.g., Aadhaar, PAN, or Passport).</li>
                              <li>Relevant proof of startup, entrepreneurship, or professional affiliation.
                              </li>
                           </ul>
                          
                        </div>
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="package-section pt-2 ">
            <div class="container">
               <div class="package-inner">
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <div class="package-wrap">
                           <figure class="feature-image">
                              <a href="#">
                                 <img src="/img/platinumcard.jpeg" alt="">
                              </a>
                           </figure>
                           <div class="package-price">
                              <h6>
                                 <span>
                                    4999 pack (Platinum)
                                 </span>
                              </h6>
                           </div>
                           <div class="package-content-wrap pb-2">
                              <div class="package-meta text-center">
                                 <div class="text-white text-lg">
                                    Access to leap centers across the country - Owned by KSUM
                                 </div>
                              </div>
                              <div class="package-content pb-6">
                                 <div style="max-width: 600px; margin: 20px auto;  #ddd; border-radius: 8px; overflow: hidden;" class="mb-">
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                      <div style="flex: 1; padding: 10px; text-align: left;">Flexi Seats Booking</div>
                                      <div style="flex: 2; padding: 10px; text-align: left;">2 times free in a month. After that, Rs. 400 per seat per day.</div>
                                    </div>
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                      <div style="flex: 1; padding: 10px; text-align: left;">Flexi Seats Additional Seat Booking</div>
                                      <div style="flex: 2; padding: 10px; text-align: left;">Up to 2 additional seats get a 40% subsidy, priced at Rs. 240 per seat per day.</div>
                                    </div>
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                      <div style="flex: 1; padding: 10px; text-align: left;">Meeting Room</div>
                                      <div style="flex: 2; padding: 10px; text-align: left;">1 time free in a month. After that, a 25% subsidy on additional bookings applies.</div>
                                    </div>
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                       <div style="flex: 1; padding: 10px; text-align: left;">Validity</div>
                                       <div style="flex: 2; padding: 10px; text-align: left;">12 Months</div>
                                     </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6">
                        <div class="package-wrap">
                           <figure class="feature-image">
                              <a href="#">
                                 <img src="/img/platinumcard.jpeg" alt="">
                              </a>
                           </figure>
                           <div class="package-price">
                              <h6>
                                 <span>
                                    4999 pack (Platinum)
                                 </span>
                              </h6>
                           </div>
                           <div class="package-content-wrap pb-2">
                              <div class="package-meta text-center">
                                 <div class="text-white text-lg">
                                    Access to leap centers across the country - Owned by KSUM
                                 </div>
                              </div>
                              <div class="package-content pb-6">
                                 <div style="max-width: 600px; margin: 20px auto; #ddd; border-radius: 8px; overflow: hidden;" class="mb-">
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                      <div style="flex: 1; padding: 10px; text-align: left;">Flexi Seats Booking</div>
                                      <div style="flex: 2; padding: 10px; text-align: left;">2 times free in a month. After that, Rs. 400 per seat per day.</div>
                                    </div>
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                      <div style="flex: 1; padding: 10px; text-align: left;">Flexi Seats Additional Seat Booking</div>
                                      <div style="flex: 2; padding: 10px; text-align: left;">Up to 2 additional seats get a 40% subsidy, priced at Rs. 240 per seat per day.</div>
                                    </div>
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                      <div style="flex: 1; padding: 10px; text-align: left;">Meeting Room</div>
                                      <div style="flex: 2; padding: 10px; text-align: left;">1 time free in a month. After that, a 25% subsidy on additional bookings applies.</div>
                                    </div>
                                    <div style="display: flex; border-bottom: 1px solid #ddd;">
                                       <div style="flex: 1; padding: 10px; text-align: left;">Validity</div>
                                       <div style="flex: 2; padding: 10px; text-align: left;">12 Months</div>
                                     </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="btn-wrap container">
               <a href="https://leap-portal.startupmission.in/login" target="_blank" class="button-primary">Apply Now</a>
            </div>
         </div>

     

         <section class="blog-section">
            <div class="container">
               <div class="section-heading text-center">
                  <div class="row">
                     <div class="col-lg-8 offset-lg-2">
                        <!-- <h5 class="dash-style">FROM OUR BLOG</h5> -->
                        <h4 class=" md:text-3xl text-xl font-bold uppercase">LEAP Centres</h4>
                        <!-- <p>Mollit voluptatem perspiciatis convallis elementum corporis quo veritatis aliquid blandit, blandit torquent, odit placeat. Adipiscing repudiandae eius cursus? Nostrum magnis maxime curae placeat.</p> -->
                     </div>
                  </div>
               </div>

                  <Leapcentres client:load></Leapcentres>
               </div>
            </section>


       
      </main>
      <footer id="colophon" class="site-footer footer-primary">
         <!-- <div class="top-footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6">
                     <aside class="widget widget_text">
                        <h3 class="widget-title">
                           About Travel
                        </h3>
                        <div class="textwidget widget-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </div>
                        <div class="award-img">
                           <a href="#"><img src="assets/images/logo6.png" alt=""></a>
                           <a href="#"><img src="assets/images/logo2.png" alt=""></a>
                        </div>
                     </aside>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <aside class="widget widget_text">
                        <h3 class="widget-title">CONTACT INFORMATION</h3>
                        <div class="textwidget widget-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           <ul>
                              <li>
                                 <a href="#">
                                    <i class="fas fa-phone-alt"></i>
                                    +01 (977) 2599 12
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    <i class="fas fa-envelope"></i>
                                    company@domain.com
                                 </a>
                              </li>
                              <li>
                                 <i class="fas fa-map-marker-alt"></i>
                                 3146  Koontz, California
                              </li>
                           </ul>
                        </div>
                     </aside>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <aside class="widget widget_recent_post">
                        <h3 class="widget-title">Latest Post</h3>
                        <ul>
                           <li>
                              <h5>
                                 <a href="#">Life is a beautiful journey not a destination</a>
                              </h5>
                              <div class="entry-meta">
                                 <span class="post-on">
                                    <a href="#">August 17, 2021</a>
                                 </span>
                                 <span class="comments-link">
                                    <a href="#">No Comments</a>
                                 </span>
                              </div>
                           </li>
                           <li>
                              <h5>
                                 <a href="#">Take only memories, leave only footprints</a>
                              </h5>
                              <div class="entry-meta">
                                 <span class="post-on">
                                    <a href="#">August 17, 2021</a>
                                 </span>
                                 <span class="comments-link">
                                    <a href="#">No Comments</a>
                                 </span>
                              </div>
                           </li>
                        </ul>
                     </aside>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <aside class="widget widget_newslatter">
                        <h3 class="widget-title">SUBSCRIBE US</h3>
                        <div class="widget-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <form class="newslatter-form">
                           <input type="email" name="s" placeholder="Your Email..">
                           <input type="submit" name="s" value="SUBSCRIBE NOW">
                        </form>
                     </aside>
                  </div>
               </div>
            </div>
         </div> -->
         <div class="buttom-footer">
            <div class="container">
               <div class="flex md:flex-row flex-col md:justify-between items-center justify-center">
                 
                  <div class="">
                     <div class="footer-logo">
                        <a href="#"><img src="/img/logo-white.svg" alt=""></a>
                     </div>
                  </div>
                  <div class="">
                     <div class="copy-right ">Copyright © 2021 Travele. All rights reserveds</div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <a id="backTotop" href="#" class="to-top-icon">
         <i class="fas fa-chevron-up"></i>
      </a>
      <!-- custom search field html -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
      <!-- header html end -->
   </div>

</Layout>