---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Chartbib from '../components/Chartbib.astro'
import Selection from '../components/Selection.astro'
import Leapcentres from '../components/Leapcentres.svelte'
import Leap from '../components/Leap.svelte'


---
<Layout>

   <div id="siteLoader" class="site-loader">
      <div class="preloader-content">
         <img src="assets/images/loader1.gif" alt="">
      </div>
   </div>
   <div id="page" class="full-page">
   
      <main id="content" class="site-main">
         <!-- Home slider html start -->
         <section class="home-slider-section" id="home">
            <div class="home-slider">
               <div class="home-banner-items">
                  <div class="banner-inner-wrap bg-cover bg-center" style="background-image: url(/img/bg1.png);"></div>
                  <div class=" absolute h-full w-full bg-black opacity-20"></div>
                     <div class="banner-content-wrap">
                        <div class="container">
                           <div class="banner-content text-center">
                              <h2 class="banner-title md:text-6xl text-xl">Launch Empower Accelerate Prosper</h2>
                              <!-- <h4 class="text-3xl md:text-5xl font-bold text-white">Launch Empower Accelerate Prosper</h4> -->
                              <!-- <p class=" text-lg">The LEAP coworking space aims to create an environment that nurtures innovation, encourages networking, and facilitates the success of startups and entrepreneurs. Kerala Startup Mission (KSUM) has been at the forefront of supporting startups and entrepreneurs in Kerala through its incubation centers. We are transforming our incubation centers, partner incubation centers, and IEDC owned incubation centers into a vibrant coworking space called LEAP Coworks. LEAP, which stands for Launch Empower Accelerate Prosper, embodies our commitment to fostering innovation, collaboration, and success in the startup ecosystem.</p> -->
                              <!-- <a href="#" class="button-primary">CONTINUE READING</a> -->
                           </div>
                        </div>
                     </div>
                  <div class="overlay"></div>
               </div>
             
            </div>
         </section>
        

         <div class="trip-search-section shape-search-section">
            <div class="slider-shape"></div>
            <div class="container">
               <div class="trip-search-inner white-bg d-flex">
                  <p class=" text-justify text-base">
                     The LEAP coworking space aims to create an environment that nurtures innovation, encourages networking, and facilitates the success of startups and entrepreneurs. Kerala Startup Mission (KSUM) has been at the forefront of supporting startups and entrepreneurs in Kerala through its incubation centers. We are transforming our incubation centers, partner incubation centers, and IEDC owned incubation centers into a vibrant coworking space called LEAP Coworks. LEAP, which stands for Launch Empower Accelerate Prosper, embodies our commitment to fostering innovation, collaboration, and success in the startup ecosystem.
                  </p>
                  <p class=" text-justify pt-6 text-base">
                     LEAP will offer well designed workspace, meeting rooms, high speed internet connectivity and other essential amenities  for a productive environment. While transitioning to a coworking model KSUM will continue to provide valuable incubation support service  to startups, Including mentorship programs, business development assistance, access to funding opportunities  and expert guidance. LEAP will foster a vibrant community of like-minded individuals and startups, creating opportunities for collaboration, knowledge sharing and networking. LEAP will become a single access point for entrepreneurs to enter the startup ecosystem.
                  </p>
               </div>
            </div>
         </div>
      

         <section class="package-section py-24" id="LEAP_Coworks">
            <div class="container">
               <div class="section-heading">
                  <div class="row align-items-end">
                     <div class="col-lg-6">
                        <h5 class="dash-style">WORKSPACES REIMAGINED</h5>
                        <h2>Explore LEAP Coworks</h2>
                     </div>
                     <div class="col-lg-5">
                        <div class="section-disc text-base text-justify">
                           Experience plug-and-play workstations, meeting rooms, and discussion spaces, all powered by high-speed internet and modern facilities.                        </div>
                     </div>
                  </div>
               </div>
               <div class="career-detail-section pb-24">
                  <div class="career-detail-inner">
                     <div class="container">
                        <div class="">
                           <div class="">
                              <div class="">
                                 <figure class="">
                                    <img src="/img/img.png" class=" h-60 w-2/3" alt="">
                                 </figure>
                              </div>
                              <div class="tab-container">
                                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                       <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Apply for Coworking</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">LEAP Centre Rate card</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                       <a class="nav-link" id="requirement-tab" data-toggle="tab" href="#requirement" role="tab" aria-controls="requirement" aria-selected="false">Requirement</a>
                                    </li> -->
                                 </ul>
                                 <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                       <div class="overview-content">
                                          <p class="text-base  font-semibold">Eligibility Criteria for KSUM Owned centres:</p>
                                          <div class="pl-10 pt-6">
                                             <ul class=" list-disc list-outside ">
                                                <li class="font-semibold text-justify">Startups with a valid KSUM Unique ID </li>
                                                <li class=" text-justify font-semibold">Subsidized prices are exclusively applicable to startups who possess a KSUM Unique ID.</li>
                                                <li class=" text-justify font-semibold">
                                                   Startups registered as Private Limited (Pvt) / Limited Liability Partnership (LLP)/ One Person Company (OPC) are eligible to apply for LEAP Coworking spaces even if they do not have a KSUM Unique ID. However, such entities will not be eligible for subsidized prices.
                                                </li>
                                             </ul>
                                          </div>
                                         
                                       </div>
                                    </div>
                                    <div class="tab-pane" id="experience" role="tabpanel" aria-labelledby="experience-tab">
                                       <div class="experience-content">
                                             <div class="">
                                                <div>
                                                      <div class="overflow-x-auto">
                                                         <table class="w-full border-collapse border border-gray-300 text-black">
                                                            <thead>
                                                              <tr class="bg-gray-100 text-black text-left">
                                                                <th class="border border-gray-300 text-black px-3 py-2">Centers</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">Type of Space</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">Base Rate</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">Subsidy</th>
                                                                <th class="border border-gray-300 text-black px-3 py-2">After Subsidy</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2" rowspan="3">Trivandrum<br>Kochi<br>Kozhikode</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2">Square feet wise</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.100 Per sq.feet</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs. 60 Per sq.feet</td>
                                                              </tr>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2">Coworking space</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs 5500/- Per seat</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.3300/-</td>
                                                              </tr>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2">Dedicated Seats at closed space</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs 6000/- Per seat</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.3600/-</td>
                                                              </tr>
                                                              <tr class="hover:bg-gray-50">
                                                                <td class="border border-gray-300 text-black px-3 py-2">Palakkad, Kasaragod</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2">Coworking space</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs 3000/- Per seat</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 text-center">40%</td>
                                                                <td class="border border-gray-300 text-black px-3 py-2 ">Rs.1800/-</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          
                                                      </div>
                                                </div>
                                                <div>
                                                   <p class=" font-bold">Please note the following.</p>
                                                   <div class=" pl-10 pt-3">
                                                      <ul class=" list-disc list-outside">
                                                         <li class=" font-semibold">Subsidy will be applicable to startups having unique id (KSUM).
                                                         </li>
                                                         <li class=" font-semibold">
                                                            Women startups will get an additional subsidy of 10%.
                                                         </li>
                                                         <li class=" font-semibold">
                                                            The subsidy will be reduced 5% every year on renewal of agreement.
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                               
                                             </div>
                                       </div>
                                    </div>
                                  
                                 </div>
                              </div>
                           </div>
                          
                        </div>
                        <div class="section-heading pt-10 pb-0 mb-0">
                           <h5 class="dash-style uppercase">Selection process</h5>
                        </div>
                        <Selection></Selection>
                       
                     </div>

                  </div>
                 
               </div>
            </div>
           
         </section>

         <section class='w-full'>
            <div class="container w-full">
               <div class="w-full">
                  <div class="btn-wrap items-end justify-end text-end flex w-full">
                     <a href="https://startups.startupmission.in/application/incubation" target="_blank" class="button-primary uppercase">Apply Now</a>
                  </div>
               </div>
            </div>
         </section>




         <div class="single-tour-section pt-32 pb-2" id="LEAP_Membership">

            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="single-tour-inner">
                        <div class="section-heading">
                           <h5 class="dash-style">Unlock Opportunities with LEAP Membership</h5>
                           <h2>Get LEAP Membership card?</h2>
                        </div>
                        <div class="tab-container">
                           <ul class="nav nav-tabs" id="myTab" role="tablist">
                             
                              <li class="nav-item">
                                 <a class="nav-link active" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="true" >Facilities and amenities
                                 </a>
                              </li>
                            
                           </ul>
                           <div class="tab-content" id="myTabContent">
                             
                              <div class="tab-pane fade show active" id="program" role="tabpanel" aria-labelledby="program-tab">
                                
                                 <div class="">
                                    <p class="text-base pb-4 font-semibold">
                                       LEAP membership is open to startups with a KSUM unique ID, as well as entrepreneurs and professionals looking to connect and collaborate with Kerala Startup Mission.
                                    </p>
                                    <ul class="list-disc list-outside pl-6 font-semibold">
                                       <li>
                                          Subsidized access to all LEAP center facilities
                                       </li>
                                       <li>
                                          Access to KSUM's partner incubation centers across the State
                                       </li>
                                       <li>
                                          Will get access to book Flexi Workstations
                                       </li>
                                       <li>
                                          Additional subsidies for KSUM partnering events
                                       </li>
                                       <li>
                                          Talent acquisition support
                                       </li>
                                       <li>
                                          Uninterrupted internet and electricity
                                       </li>
                                       <li>
                                          Internship drives and tech training
                                       </li>
                                       <li>
                                          5 days access to flexi seats free of cost at any facility every month
                                       </li>
                                       <li>
                                          One year validity for a membership card
                                       </li>
                                       <li>
                                          Access to Leap Centers across the country
                                       </li>
                                       <li>
                                          Access to Startup Infinity Centers across the world
                                       </li>
                                    </ul>
                                    <!-- <div class="btn-wrap items-end justify-end text-end flex">
                                       <a href="https://leap-portal.startupmission.in/login" target="_blank" class="button-primary">Apply Now</a>
                                    </div> -->
                                 </div>
                              </div>
                              <!-- <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">
                                 <div class="summary-review">
                                    <div class="review-score">
                                       <span>4.9</span>
                                    </div>
                                    <div class="review-score-content">
                                       <h3>
                                          Excellent
                                          <span>( Based on 24 reviews )</span>
                                       </h3>
                                       <p>Tincidunt iaculis pede mus lobortis hendrerit eveniet impedit aenean mauris qui, pharetra rem doloremque laboris euismod deserunt non, cupiditate, vestibulum.</p>
                                    </div>
                                 </div>
                                 <div class="comment-area">
                                    <h3 class="comment-title">3 Reviews</h3>
                                    <div class="comment-area-inner">
                                       <ol>
                                          <li>
                                             <figure class="comment-thumb">
                                                <img src="assets/images/img20.jpg" alt="">
                                             </figure>
                                             <div class="comment-content">
                                                <div class="comment-header">
                                                   <h5 class="author-name">Tom Sawyer</h5>
                                                   <span class="post-on">Jana 10 2020</span>
                                                   <div class="rating-wrap">
                                                      <div class="rating-start" title="Rated 5 out of 5">
                                                         <span style="width: 90%;"></span>
                                                      </div>
                                                   </div>
                                                </div>
                                                <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                             </div>
                                          </li>
                                          <li>
                                             <ol>
                                                <li>
                                                   <figure class="comment-thumb">
                                                      <img src="assets/images/img21.jpg" alt="">
                                                   </figure>
                                                   <div class="comment-content">
                                                      <div class="comment-header">
                                                         <h5 class="author-name">John Doe</h5>
                                                         <span class="post-on">Jana 10 2020</span>
                                                         <div class="rating-wrap">
                                                            <div class="rating-start" title="Rated 5 out of 5">
                                                               <span style="width: 90%"></span>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                      <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                                   </div>
                                                </li>
                                             </ol>
                                          </li>
                                       </ol>
                                       <ol>
                                          <li>
                                             <figure class="comment-thumb">
                                                <img src="assets/images/img22.jpg" alt="">
                                             </figure>
                                             <div class="comment-content">
                                                <div class="comment-header">
                                                   <h5 class="author-name">Jaan Smith</h5>
                                                   <span class="post-on">Jana 10 2020</span>
                                                   <div class="rating-wrap">
                                                      <div class="rating-start" title="Rated 5 out of 5">
                                                         <span></span>
                                                      </div>
                                                   </div>
                                                </div>
                                                <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                             </div>
                                          </li>
                                       </ol>
                                    </div>
                                    <div class="comment-form-wrap">
                                       <h3 class="comment-title">Leave a Review</h3>
                                       <form class="comment-form">
                                          <div class="full-width rate-wrap">
                                             <label>Your rating</label>
                                             <div class="procduct-rate">
                                                <span></span>
                                             </div>
                                          </div>
                                          <p>
                                             <input type="text" name="name" placeholder="Name">
                                          </p>
                                          <p>
                                             <input type="text" name="name" placeholder="Last name">
                                          </p>
                                          <p>
                                             <input type="email" name="email" placeholder="Email">
                                          </p>
                                          <p>
                                             <input type="text" name="subject" placeholder="Subject">
                                          </p>
                                          <p>
                                             <textarea rows="6" placeholder="Your review"></textarea>
                                          </p>
                                          <p>
                                             <input type="submit" name="submit" value="Submit">
                                          </p>
                                       </form>
                                    </div>
                                 </div>
                              </div> -->
                              <!-- <div class="tab-pane" id="map" role="tabpanel" aria-labelledby="map-tab">
                                 <div class="map-area">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60998820.06503915!2d95.3386452160086!3d-21.069765827214972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2snp!4v1579777829477!5m2!1sen!2snp" height="450" allowfullscreen=""></iframe>
                                 </div>
                              </div> -->
                           </div>
                        </div>
                        <div class="single-tour-gallery">
                           <!-- <h3>GALLERY / PHOTOS</h3> -->
                           <div class="single-tour-slider">
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/1.png" alt="">
                                 </figure>
                              </div>
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/2.png" alt="">
                                 </figure>
                              </div>
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/3.png" alt="">
                                 </figure>
                              </div>
                              <div class="single-tour-item">
                                 <figure class="feature-image">
                                    <img src="/img/4.png" alt="">
                                 </figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="sidebar">
                        <div class="travel-package-content text-center py-24" style="background-image: url(/img/55.png);">
                           <h5 class="pt-10"></h5>
                           <h3 class="text-justify"></h3>
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus.</p>
                           <ul>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Vacation packages</a>
                              </li>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Honeymoon packages</a>
                              </li>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>New year packages</a>
                              </li>
                              <li>
                                 <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Weekend packages</a>
                              </li>
                           </ul> -->
                        </div>
                        <div class="package-price">
                           <h5 class="price text-base">
                              LEAP will offer well designed workspace, meeting rooms, high speed internet connectivity and other essential amenities  for a productive environment. Through LEAP membership KSUM aims to foster a vibrant community of like-minded individuals and startups, creating opportunities for collaboration, knowledge sharing and networking. LEAP will become a single access point for entrepreneurs to enter the startup ecosystem.
                           </h5>
                          
                        </div>
                       
                        <div class="widget-bg information-content">
                           <h5>Eligibility Criteria</h5>
                           <ul class=" list-disc list-outside pb-4">
                              <li>
                                 Startups having KSUM unique id.
                              </li>
                              <li>
                                 Startups, entrepreneurs, and professionals looking to connect and collaborate with Kerala Startup Mission.
                              </li>
                           </ul>
                         
                           <p class="text-base text-start pb-3 font-semibold">
                              Required Documents for applicants other than Startups having KSUM unique id    
                           </p>
                           <ul class=" list-disc list-outside">
                              <li>Proof of identity (e.g., Aadhaar, PAN, or Passport).</li>
                              <li>Relevant proof of startup, entrepreneurship, or professional affiliation.
                              </li>
                           </ul>
                          
                        </div>
                       
                     </div>
                  </div>
               </div>
            </div>
         </div>



         <section class=" pt-10">
            <div class="career-detail-section">
               <div class="career-detail-inner">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-8">
                           <div class="job-description p-2 text-white text-lg font-bold">
                              LEAP membership details (Platinum & Gold membership)
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="tab-container">
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link active" id="leadpcard1" data-toggle="tab" href="#leadpcard" role="tab" aria-controls="leadpcard" aria-selected="true">
                                      
                                       Platinum Membership (₹4999)
                                    </a>
                                 </li>
                               
                                 <li class="nav-item">
                                    <a class="nav-link" id="requirement-tab" data-toggle="tab" href="#requirement" role="tab" aria-controls="requirement" aria-selected="false">Gold Membership (₹1999)</a>
                                 </li>
                              </ul>
                              
                              <div class="tab-content" id="myTabContent">
                                 <div class="tab-pane fade show active" id="leadpcard" role="tabpanel" aria-labelledby="leadpcard1">
                                    <div class="overview-content flex md:flex-row flex-col ">
                                       <div class="md:w-2/5 w-full flex-1 ">
                                          <img src="/img/platinumcard.jpeg" class="" alt="">
                                       </div>
                                       <div class="contact-details-wrap pt-2 pl-4 md:w-3/5 w-full">
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Flexi Seats Booking allows up to 5 bookings per month for 1 seat.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Enjoy a 40% subsidy on up to 2 additional Flexi Seat bookings at ₹240 per seat per day.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Additional Flexi Seat bookings are charged at ₹400 per seat per day after the free slots.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Meeting Room usage is free twice per month, with a 50% subsidy on additional bookings.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Access to leap centers across the country - Owned by KSUM
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      The validity period is set for 12 months from activation.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="btn-wrap items-end justify-end text-end flex">
                                             <a href="https://leap-portal.startupmission.in/login" target="_blank" class="button-primary">Apply Now</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <div class="tab-pane" id="requirement" role="tabpanel" aria-labelledby="requirement-tab">
                                    <div class="overview-content flex md:flex-row flex-col ">
                                       <div class="md:w-2/5 w-full flex-1 ">
                                          <img src="/img/leap/goldcard.jpeg" class="" alt="">
                                       </div>
                                       <div class="contact-details-wrap pt-2 pl-4 md:w-3/5 w-full">
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Flexi Seats Booking allows up to 2 bookings per month for 1 seat.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Enjoy a 40% subsidy on up to 2 additional Flexi Seat bookings at ₹240 per seat per day.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Additional Flexi Seat bookings are charged at ₹400 per seat per day after the free slots.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Meeting Room usage is free once per month, with a 25% subsidy on subsequent bookings.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      Access to leap centers across the country - Owned by KSUM
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="">
                                                <div class="flex">
                                                   <div class="travel-package-content" style="padding: 10px; text-align: left;">
                                                      <i class="far fa-arrow-alt-circle-right"></i>
                                                   </div>
                                                   <div style="flex: 2; padding: 10px; text-align: left;">
                                                      The validity period is set for 12 months from activation.
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="btn-wrap items-end justify-end text-end flex">
                                             <a href="https://leap-portal.startupmission.in/login" target="_blank" class="button-primary">Apply Now</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                      
                     </div>
                  </div>
               </div>
              
            </div>
         </section>



            <div class="contact-page-section pt-16" id="Facility_Booking">
               <div class="contact-form-inner">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="contact-from-wrap">
                              <div class="section-heading">
                                 <h5 class="dash-style">Book Premium Facilities with LEAP Co Works</h5>
                                 <h2>Facility Booking</h2>
                                 <p class="pt-3">
                                    LEAP Co Works provides common facilities like meeting rooms, conference halls, amphi theatre, event hall etc for the startups and associated communities.
                                 </p>
                              </div>
                              <section class="home-about-section mt-28">
                                 <div class="container">
                                    <div class="row">
                                       <div class="">
                                          <div class="about-img-wrap">
                                             <div class="about-img-left">
                                                <div class="about-img">
                                                   <img src="/img/leap/img1.png" alt="">
                                                </div>
                                             </div>
                                             <div class="about-img-right">
                                                <div class="about-img">
                                                   <img src="/img/leap/img2.png" alt="">
                                                </div>
                                                <!-- <div class="about-img">
                                                   <img src="assets/images/img34.jpg" alt="">
                                                </div> -->
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </section>
                             
                             
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="contact-detail-wrap">
                              <p>
                                 LEAP Co Works offers meeting rooms, conference halls, amphitheaters, and event halls for startups and communities. Facilities are available to incubated startups, DIPP-approved startups, associated communities, and industrial bodies. Bookings require admin approval, with advance payment. Subsidies include 50% for incubated startups and 40% for others.
                              </p>
                              <div class="details-list">
                                 <ul>
                                    <li>
                                       <span class="icon">
                                          <i class="fas fa-phone-volume"></i>
                                       </span>
                                       <div class="details-content">
                                          <h4>Trivadrum</h4>
                                          <span>Manu S - 0471-2700270</span>
                                       </div>
                                    </li>
                                    <li>
                                       <span class="icon">
                                          <i class="fas fa-phone-volume"></i>
                                       </span>
                                       <div class="details-content">
                                          <h4>Kochi
                                          </h4>
                                          <span>Shajahan - 0484-2977137</span>
                                       </div>
                                    </li>
                                    <li>
                                       <span class="icon">
                                          <i class="fas fa-phone-volume"></i>
                                       </span>
                                       <div class="details-content">
                                          <h4>Kozhikode</h4>
                                          <span>Ramees - 9633033339</span>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <div class="btn-wrap items-end justify-end text-end flex">
                                 <a href="https://facility.startupmission.in/" target="_blank" class="button-primary mt-0 uppercase">Book Now</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


         
         <section class="blog-section pt-10 pb-24">
            <div class="container">
               <div class="section-heading text-center">
                  <div class="row">
                     <div class="col-lg-8 offset-lg-2">
                        <h5>Your Hub for Innovation and Growth</h5>
                        <h2>LEAP Centre</h2>
                     </div>
                  </div>
               </div>
               <div class="md:px-0 px-10">
                  <!-- <Leapcentres client:load></Leapcentres> -->

               </div>
               <div class="item-center flex  justify-center text-center">
                  <div class="title-icon-divider"></div>
               </div>
            </div>
         </section>

         
       
      </main>
      <footer id="colophon" class="site-footer footer-primary">
        
         <div class="buttom-footer">
            <div class="container">
               <div class="flex md:flex-row flex-col md:justify-between items-center justify-center">
                 
                  <div class="">
                     <div class="footer-logo">
                        <a href="#"><img src="/img/logo-white.svg" alt=""></a>
                     </div>
                  </div>
                  <div class="">
                     <div class="copy-right ">Copyright © 2025 KSUM. All rights reserveds</div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <a id="backTotop" href="#" class="to-top-icon">
         <i class="fas fa-chevron-up"></i>
      </a>
      <!-- custom search field html -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
      <!-- header html end -->
   </div>

</Layout>